/* ======== Generals ========*/
h1,h2 {
    color: #14213D;
}

/* span {
    color: #14213D;
} */

/**/

.Simulator {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.Simulator > .Header,
.Simulator > .Footer {
    background: #14213D;
    color: #FCA311;
}


/* ======== Content ========*/
.Simulator__content {
    background: #e5e5e5;
    display: flex;
    flex-flow: column;
    padding: 15px 40px;
    gap: 1.5rem;

}

.Simulator__content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    width: 100%;
}

.Simulator__column_content {
    background: #e5e5e5;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 15px 40px;
    gap: 1.5rem;

}

.Simulator__column_content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    /* width: 100%; */
}

/**/

/* ======== Content Info ========*/
.Simulator__project_info {
    justify-content: space-evenly;
    gap: 2rem;
    font-size: 1.5rem;
}

.Simulator__project_info h4 {
    display: inline-block;
} 
/**/


/* ======== Content Devs ========*/
.Simulator__devs_container {
    gap: 2rem;;
}

.Simulator__devs_container > h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.devs__wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
}
/**/


/* ======== Content Start btn ========*/
.Simulator__buttons_container {
    justify-content: center;
}

.start_simulator_btn {

    border-radius: 8px;
    padding: 10px 15px;
    border: unset;

    background: #14213D;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    
}

.start_simulator_btn:hover {
    cursor: pointer;
    background: #1e3057;
}
/**/


.input__label{
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 10px;
    color: #14213D;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input__label input,
.input__label select {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.1rem;
    background: #e5e5e5;
    color: #14213D;
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px solid #14213D;
}

.dropdown__label{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    gap: 10px;
    color: #14213D;
}

.dropdown__label input,
.dropdown__label select,
.file-name {
    width: 100%;
    max-width: 200px;
    padding: 10px 10px;
    font-size: 1.1rem;
    background: #FFFFFF;
    color: #14213D;
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px solid #14213D;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__table {
    align-self: flex-start;
    flex: 5 0;
}

.content__controls {
    flex: 1 1 350px;
}



@media screen and (max-width: 860px) {
    .dropdown__label input,
    .dropdown__label select,
    .file-name {
        max-width: unset;
    }
}

@media screen and (max-width: 480px) {
    .Simulator__content {
        gap: 2rem;
    }
    
    .Simulator__content > div {
        justify-content: center;
        text-align: center;
    }
}

