/* ======== Generals ========*/
h1,h2 {
    color: #14213D;
}

/* span {
    color: #14213D;
} */

/**/

.Simulator {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.Simulator > .Header,
.Simulator > .Footer {
    background: #14213D;
    color: #FCA311;
}


/* ======== Content ========*/
.Simulator__content {
    background: #e5e5e5;
    display: flex;
    flex-flow: column;
    padding: 15px 40px;
    gap: 1.5rem;

}

.Simulator__content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    width: 100%;
}

.Row_content {
    background: #e5e5e5;
    display: flex;
    flex-flow: row;
    padding: 15px 40px;
    gap: 1.5rem;

}

.Row_content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    width: 100%;
}

.Simulator__column_content {
    background: #e5e5e5;
    display: flex;
    flex-flow: column;
    padding: 15px 40px;
    gap: 1.5rem;

}

.Simulator__column_content > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    width: 100%;
}
/**/

/* ======== Content Info ========*/
.Simulator__project_info {
    justify-content: space-evenly;
    gap: 2rem;
    font-size: 1.5rem;
}

.Simulator__project_info h4 {
    display: inline-block;
} 
/**/


/* ======== Content Devs ========*/
.Simulator__devs_container {
    gap: 2rem;;
}

.Simulator__devs_container > h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.devs__wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
}
/**/


/* ======== Content Start btn ========*/
.Simulator__buttons_container {
    justify-content: center;
}

.start_simulator_btn {

    border-radius: 8px;
    padding: 10px 15px;
    border: unset;

    background: #14213D;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    
}

.start_simulator_btn:hover {
    cursor: pointer;
    background: #f5ab35;
}
/**/


@media screen and (max-width: 480px) {
    .Simulator__content {
        gap: 2rem;
    }
    
    .Simulator__content > div {
        justify-content: center;
        text-align: center;
    }
}